# # #CREDENCIALES BASE DE DATOS (LOCAL)
# DB_HOST=127.0.0.1
# DB_DATABASE=diplostore
# DB_USERNAME=root
# DB_PASSWORD=
# DB_PORT=3306

#STRIPE SECRET KEY
STRIPE_SECRET_KEY=SECRET_AQUI

#JWT SECRET
JWT_SECRET=clave_secreta